@use "../global" as g;

.header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__inner {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: g.$header-height;
  background: g.$color-monochrome-White;

  @include g.mq(lg) {
    padding-inline: 24px;
  }
}

.header__logo {
  flex-shrink: 0;
  width: 210px;
  position: relative;
  z-index: 10;
  @include g.mq(lg) {
    width: 183px;
  }

  img {
    display: block;
    aspect-ratio: 210 / 27;

    @include g.mq(lg) {
      aspect-ratio: 183 / 24;
    }
  }
}

.header__drawer {
  @include g.mq(lg) {
    display: none;
  }
}

.header__nav__wrapper {
  position: fixed;
  top: g.$header-height;
  left: 0;
  background: g.$color-monochrome-White;
  width: 100%;
  height: calc(100% - g.$header-height);
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  padding-top: 82px;
  overflow: auto;

  &.is-checked {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  @media screen and (max-height: 580px) {
    padding-block: 10px;
  }

  @include g.mq(lg) {
    position: static;
    padding: 0;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  max-height: 416px;

  &.is-checked {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  @include g.mq(lg) {
    position: static;
    padding: 0;
    top: 0;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;

  @include g.mq(lg) {
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
}

.header__item {
  & + .header__item {
    margin-top: 10px;

    @include g.mq(lg) {
      margin-top: 0;
    }
  }

  @include g.mq(lg) {
    margin-left: 8px;
    &:last-child {
      margin-left: 15px;
    }
  }
}

.header__link {
  padding: 8px 2px;
  font-size: g.$font-size-md;
  transition: color 0.3s, -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s, color 0.3s;
  transition: text-decoration 0.3s, color 0.3s, -webkit-text-decoration 0.3s;
  @include g.mq(lg) {
    font-size: g.$font-size-base-sp;
    &:hover {
      text-decoration: underline;
      color: g.$color-sub-DBlue;
    }
  }
}

.header__button {
  text-align: center;
  @include g.mq(lg) {
    padding-top: 4px;
  }
}
