@use "../global/" as g;

.button-box {
  padding-bottom: 4px;
}

.button-xs {
  display: inline-flex;
  padding: 4px 22px 6px;
  justify-content: center;
  align-items: center;
  color: g.$color-monochrome-Blown;
  /* LP/White */
  background: g.$color-monochrome-White;
  /* LP/Blown */
  border: 2px solid g.$color-monochrome-Blown;
  /* ボタンのシャドウ */
  box-shadow: 0px 4px 0px g.$color-monochrome-Blown;
  border-radius: 40px;
  transition: background-color;

  font-size: g.$font-size-base-sp;
  font-weight: g.$font-weight-bold;
  white-space: nowrap;

  transition: background 0.3s;

  &:hover {
    background-color: g.$color-accent-Yellow;
    cursor: pointer;
  }
}

.button-s {
  display: inline-flex;
  padding: 4px 22px 6px;
  justify-content: center;
  align-items: center;
  color: g.$color-monochrome-Blown;
  /* LP/White */
  background: g.$color-monochrome-White;
  /* LP/Blown */
  border: 2px solid g.$color-monochrome-Blown;
  /* ボタンのシャドウ */
  box-shadow: 0px 4px 0px g.$color-monochrome-Blown;
  border-radius: 40px;
  transition: background-color;

  font-size: g.$font-size-md;
  font-weight: g.$font-weight-bold;
  white-space: nowrap;

  transition: background 0.3s;

  &:hover {
    background-color: g.$color-accent-Yellow;
    cursor: pointer;
  }
}

.button-m {
  display: inline-flex;
  padding: 4px 22px 6px;
  justify-content: center;
  align-items: center;
  color: g.$color-monochrome-Blown;
  /* LP/White */
  background: g.$color-monochrome-White;
  /* LP/Blown */
  border: 2px solid g.$color-monochrome-Blown;
  /* ボタンのシャドウ */
  box-shadow: 0px 4px 0px g.$color-monochrome-Blown;
  border-radius: 40px;
  transition: background-color;

  font-size: g.$font-size-lg;
  font-weight: g.$font-weight-bold;
  white-space: nowrap;

  transition: background 0.3s;

  &:hover {
    background-color: g.$color-accent-Yellow;
    cursor: pointer;
  }
}

.button-m__custom {
  display: inline-flex;
  padding: 4px 38px 6px;
  justify-content: center;
  align-items: center;
  color: g.$color-monochrome-Blown;
  /* LP/White */
  background: g.$color-monochrome-White;
  /* LP/Blown */
  border: 2px solid g.$color-monochrome-Blown;
  /* ボタンのシャドウ */
  box-shadow: 0px 4px 0px g.$color-monochrome-Blown;
  border-radius: 40px;
  transition: background-color;

  font-size: g.$font-size-lg;
  font-weight: g.$font-weight-bold;
  white-space: nowrap;

  transition: background 0.3s;

  &:hover {
    background-color: g.$color-accent-Yellow;
    cursor: pointer;
  }
}

.button-l {
  display: inline-flex;
  padding: 8px 38px 9px;
  justify-content: center;
  align-items: center;
  color: g.$color-monochrome-Blown;
  /* LP/White */
  background: g.$color-monochrome-White;
  /* LP/Blown */
  border: 3px solid g.$color-monochrome-Blown;
  /* ボタンのシャドウ */
  box-shadow: 0px 4px 0px g.$color-monochrome-Blown;
  border-radius: 40px;
  transition: background-color;

  font-size: g.$font-size-xl;
  font-weight: g.$font-weight-bold;
  white-space: nowrap;

  transition: background 0.3s;

  &:hover {
    background-color: g.$color-accent-Yellow;
    cursor: pointer;
  }
}
