@use "../global" as g;

.section-heading {
  display: flex;
  flex-direction: column;
  gap: 6.5px;
  text-align: center;

  @include g.mq(md) {
    gap: 8px;
  }
}

.section-heading__image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-icon {
  width: 37.3px;
  height: 37.3px;
  @include g.mq(md) {
    width: 48px;
    height: 48px;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.section-heading__title-sub {
  font-family: g.$font-family-en-1;
  font-size: g.$font-size-lg;
  line-height: 1.25;
  color: g.$color-monochrome-Blown;

  @include g.mq(md) {
    font-size: g.$font-size-xl;
  }
}

.section-heading__title-main {
  font-family: g.$font-family-jp-2;
  font-weight: g.$font-weight-medium;
  font-size: g.$font-size-xl;
  line-height: 1.25;
  color: g.$color-monochrome-Blown;

  @include g.mq(md) {
    font-size: 32px;
  }
}

.section-heading__under-line {
  display: inline-block;
  border-bottom: 6px solid g.$color-accent-Yellow;
  padding-bottom: calc(12px - 6px);

  @include g.mq(md) {
    border-bottom: 8px solid g.$color-accent-Yellow;
    padding-bottom: calc(16px - 8px);
  }
}
