@use "../global" as g;

// about
.about {
  padding-top: 32px;
  overflow-x: hidden;

  @include g.mq(md) {
    padding-top: 83px;
  }
}

.about__inner {
}

.about__wrapper {
  position: relative;
  margin-inline: auto;
  width: 335px;

  @include g.mq(xs) {
    width: 100%;
  }

  @include g.mq(sm) {
    width: calc(600px - 40px);
  }

  @include g.mq(md) {
    width: calc(768px - 80px);
  }

  @include g.mq(lg) {
    width: 848px;
  }
}

.about__content {
  display: flex;
  flex-direction: column;

  gap: 24px;
  padding: 40px 12px 36px 12px;
  background: g.$color-monochrome-White;
  border-radius: 24px;

  position: relative;

  @include g.mq(md) {
    gap: 32px;
    border-radius: 40px;
    padding: 39px 114px 36px;
  }

  &::after {
    content: "";
    width: 100px;
    height: 36px;
    background: url(../img/about-arrow.png) no-repeat no-repeat center center /
      contain;
    position: absolute;
    z-index: -1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -36px;

    @include g.mq(md) {
      bottom: -54px;
      width: 140px;
      height: 54px;
    }
  }
}

.about__content__inner {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  gap: 23px;
  text-align: center;
  @include g.mq(md) {
    max-width: 620px;
    margin-inline: auto;
    gap: 32px;
  }
}

.about__content-title {
  position: relative;
}

.about__content-title__image {
  position: absolute;

  width: 80px;
  @include g.mq(md) {
    width: 134px;
  }

  @include g.mq(md) {
  }
  img {
    display: block;
  }
}

.about__content-title__image-left {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-131px) rotate(-8deg);
  transform: translateX(-131px) rotate(-8deg);

  img {
    display: block;
  }

  @include g.mq(md) {
    top: 10px;
    -webkit-transform: translateX(-333px) rotate(-8deg);
    transform: translateX(-333px) rotate(-8deg);
  }

  @include g.mq(xs) {
    -webkit-transform: translateX(-121px) rotate(-8deg);
    transform: translateX(-121px) rotate(-8deg);
  }
}

.about__content-title__image-right {
  top: -4px;
  right: 50%;
  -webkit-transform: translateX(144px) rotate(8deg);
  transform: translateX(144px) rotate(8deg);

  img {
    display: block;
  }

  @include g.mq(md) {
    top: 15px;
    -webkit-transform: translateX(333px) rotate(8deg);
    transform: translateX(333px) rotate(8deg);
  }

  @include g.mq(xs) {
    -webkit-transform: translateX(134px) rotate(8deg);
    transform: translateX(134px) rotate(8deg);
  }
}

.about__content__head {
}

.about__content__head-text {
  text-align: center;
  font-size: g.$font-size-md;
  font-weight: g.$font-weight-bold;

  @include g.mq(md) {
    font-size: g.$font-size-lg;
  }
}

.about__content__text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.55em;

  @include g.mq(md) {
    font-size: g.$font-size-lg;
    gap: 1.7em;
  }
}

.about__content__text {
}

.about__link {
  &.link-text {
    text-underline-offset: 3px;
  }
}

.about__text-bold {
  font-weight: g.$font-weight-bold;
}

.about__content__text-present {
  font-weight: g.$font-weight-bold;
  font-size: g.$font-size-md;
  padding-top: 8.5px;

  @include g.mq(md) {
    font-size: g.$font-size-xl;
    padding-top: 12px;
  }
}

.about__content__text-present__under-line {
  display: inline-block;
  border-bottom: 2px dashed g.$color-main-Blue;
  padding-bottom: calc(8px - 2px);

  @include g.mq(md) {
    padding-bottom: calc(12px - 2px);
  }
}

.about__button {
  padding-top: 1px;
}

.about__background-image {
  position: absolute;
  z-index: -1;
  img {
    display: block;
  }
}

.about-image__cat-foot-print-up {
  width: 54px;
  top: -10px;
  right: -20px;
  @include g.mq(md) {
    width: 100px;
    top: -83px;
    right: -166px;
  }
}

.about-image__square {
  width: 200px;

  @include g.mq(md) {
    width: 480px;
  }
  img {
    border-radius: 24px;

    @include g.mq(md) {
      border-radius: 40px;
    }
  }
}

.about-image__boat {
  top: 274px;
  right: -180px;

  @include g.mq(md) {
    top: 73px;
    right: -616px;
  }
}

.about-image__ropeway {
  top: 396px;
  left: -165px;

  @include g.mq(md) {
    top: 74px;
    left: -670px;
  }
}

.about-image__cloth {
  width: 133px;
  right: 37px;
  bottom: -119px;
  @include g.mq(md) {
    width: 308px;
    right: -258px;
    bottom: -80px;
  }
}

.about-image__button {
  width: 48px;
  right: 1px;
  bottom: -60px;

  @include g.mq(md) {
    width: 101px;
    right: -182px;
    bottom: 126px;
  }
}

.about-image__slope {
  width: 138px;
  left: 0;
  bottom: -37px;
  z-index: -2;

  @include g.mq(md) {
    width: 427px;
    left: -103px;
    bottom: -46px;
  }
}

.about-image__diagonal {
  width: 250px;
  border-radius: 24px;
  top: -20px;
  left: -353px;
  z-index: -2;
}

.about-image__wave {
  width: 806.8px;
  z-index: -2;
}

.about-image__wave__up {
  bottom: 207px;
  right: -896px;
}

.about-image__wave__down {
  bottom: 174px;
  right: -829px;
}

.about__slider {
  margin-top: 177px;
  //   overflow: hidden;
  position: relative;

  @include g.mq(md) {
    margin-top: 258px;
    max-width: 1512px;
    margin-inline: auto;
  }
}

.about__slider__head {
  text-align: center;
  position: absolute;
  left: 50%;
  width: 100%;
  -webkit-transform: translateY(calc(-100% + 2px)) translateX(-50%);
  transform: translateY(calc(-100% + 2px)) translateX(-50%);
  z-index: -10;

  @include g.mq(md) {
    -webkit-transform: translateY(calc(-100% + 5px)) translateX(-50%);
    transform: translateY(calc(-100% + 5px)) translateX(-50%);
  }
}

.about__slider-body {
  position: relative;
  height: 100px;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  @include g.mq(md) {
    height: 200px;
  }
}

.about__swiper {
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide {
    width: 100px;

    @include g.mq(md) {
      width: 200px;
    }
  }
}

.about-slide {
  img {
    display: block;
    border-radius: 12px;

    @include g.mq(md) {
      border-radius: 24px;
    }
  }
}
