@use "../global" as g;

.spots {
  position: relative;
  background: g.$color-sub-DBlue;
  padding-top: 1px;

  @include g.mq(md) {
    padding-top: 0px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -3px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    width: calc(100% + 3px);
    height: 47px;
    background: url(../img/sp/spot-top-bg-sp.svg);

    @include g.mq(md) {
      height: 121px;
      background: url(../img/spots-bg-top-pc.svg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: -4px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    width: calc(100% + 4px);
    height: 47px;
    background: url(../img/sp/spot-bottom-bg-sp.svg);
    z-index: -1;

    @include g.mq(md) {
      height: 121px;
      background: url(../img/spots-bg-bottom-pc.svg);
    }
  }
}
.spots__wrapper {
  overflow-x: hidden;
  // max-width: 1512px;
  // margin-inline: auto;
  // position: relative;
}

.spots__inner {
}

.spots__content {
  padding-bottom: 19px;

  @include g.mq(md) {
    padding-bottom: 4px;
  }
}

.spots__top {
  @include g.mq(md) {
    display: flex;
    gap: 32px;
    // overflow: hidden;
    position: relative;
  }
}

.spots__slider-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include g.mq(md) {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    gap: 16px;
    flex-shrink: 0;
    width: 56px;
    justify-content: start;
    letter-spacing: 0.8em;
    align-items: center;
  }
}

// .swiper-wrap {
//   @include g.mq(md) {
//     margin-right: calc(50% - 50vw);
//     overflow-x: hidden;
//     position: relative;
//   }
// }

.spots__slider-title-img {
  width: 28px;

  @include g.mq(md) {
    width: 56px;
  }

  img {
    display: block;
  }
}

.spots__slider-title-text {
  font-family: g.$font-family-jp-2;
  font-size: 28px;
  font-weight: g.$font-weight-medium;
  line-height: 1.25;
  color: g.$color-monochrome-White;

  @include g.mq(md) {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 0.15em;
  }
}

.pots__slider-title-text__top {
}

.spots__slider-title-text__middle {
  @include g.mq(md) {
    width: 1em;
    height: 1em;
  }
}

.pots__slider-title-text__bottom {
}

.spots-slider {
  margin-top: 24px;

  @include g.mq(md) {
    margin-top: 0;
  }
}

.spots__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include g.mq(md) {
    margin-top: 65px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.spots__bottom__title {
  width: 255px;
  // margin-inline: auto;

  @include g.mq(md) {
    width: calc((495 / 1024) * 100%);
    max-width: 495px;
  }
}

.spots__bottom__title-img {
  img {
  }
}

.spots__bottom__text-box {
  // margin-top: 16px;
  @include g.mq(md) {
    width: calc((448 / 1024) * 100%);
    max-width: 448px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

.spots__bottom-text {
  font-size: 11.4px;
  color: g.$color-monochrome-White;
  text-align: center;

  @include g.mq(md) {
    font-size: g.$font-size-lg;
  }
}

.spots__button {
  margin-top: 24px;
  text-align: center;
}

.spots__bg {
  position: absolute;
  left: 36px;
  bottom: 0px;
  width: 100px;
}
