$color-main-Blue: #9ed0e0;
$color-sub-DBlue: #67b0c7;
$color-sub-BGray: #cce1e4;
$color-sub-LBlue: #e9f6f8;
$color-accent-Red: #ce2073;
$color-accent-Yellow: #ffee56;
$color-monochrome-Blown: #4a3636;
$color-monochrome-DGray: #cccccc;
$color-monochrome-Gray: #f5f5f5;
$color-monochrome-White: #ffffff;
