$font-family-jp-1: "Noto Sans JP", serif;
$font-family-jp-2: "Kiwi Maru", serif;
$font-family-en-1: "Courgette", serif;
$font-family-en-2: "Josefin Sans", serif;

$font-size-base-sp: 12px;

$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;

$line-hight-base: 1.6;

$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
